<div class="welcome-row">
    Welcome, {{userId}}
    <button class="button-clear" (click)="logout()">Logout</button>
    <span class="float-right">
        <a href="https://github.com/turt2live/matrix-tag-manager" target="_blank" rel="noopener">
            View on Github
        </a>
    </span>
</div>

<div class="tag-container">
    <div class="tag-list-container" *ngFor="let tagName of tagNames">
        <h4>{{tagName}}</h4>
        <div class="tag-list" dragula="ROOM_TAGS"
             [dragulaModel]="tags[tagName]" (dragulaModelChange)="setTaggedRooms(tagName, $event)">
            <app-room-tile class="room-tile" *ngFor="let room of tags[tagName]" [room]="room"></app-room-tile>
        </div>
    </div>
    <div class="tag-list-container new">
        <form (ngSubmit)="addTag()">
            <input type="text" id="newTagName" name="newTagName" [(ngModel)]="newTagName" />
            <button type="submit" class="float-right">Add</button>
        </form>
    </div>
</div>
