<div class="welcome-row">
    Welcome, {{userId}}
    <button class="button-clear" (click)="logout()">Logout</button>
    <span class="float-right">
        <a href="https://github.com/turt2live/matrix-tag-manager" target="_blank" rel="noopener">
            View on Github
        </a>
    </span>
</div>

<div class="welcome-row" *ngIf="loadingRooms">
    Loading your rooms and tags. This could take a while if you have a lot of rooms.
</div>
<div class="tag-container" *ngIf="!loadingRooms">
    <div class="tag-list-container" *ngFor="let tagName of tagNames">
        <button type="button" class="float-right button-outline" [disabled]="isSaving"
                *ngIf="isListChanged(tagName)" (click)="saveTag(tagName)">Save</button>
        <h4>{{tagName}}</h4>
        <small [ngPlural]="tags[tagName].length">
            <ng-template ngPluralCase="=1">1 room</ng-template>
            <ng-template ngPluralCase="other">{{tags[tagName].length}} rooms</ng-template>
        </small>
        <div class="tag-list" dragula="ROOM_TAGS" [(dragulaModel)]="tags[tagName]">
            <app-room-tile class="room-tile" *ngFor="let room of tags[tagName]" [room]="room"></app-room-tile>
        </div>
    </div>
    <div class="tag-list-container new">
        <form (ngSubmit)="addTag()">
            <input type="text" id="newTagName" name="newTagName" [(ngModel)]="newTagName" />
            <button type="submit" class="float-right button-outline">Add</button>
        </form>
    </div>
</div>
