<div>
    Welcome, {{userId}}
    <button class="button-clear" (click)="logout()">Logout</button>
</div>

<div class="tag-container">
    <div class="tag-list-container" *ngFor="let tagName of tagNames">
        <h4>{{tagName}}</h4>
        <div class="tag-list" dragula="ROOM_TAGS"
             [dragulaModel]="tags[tagName]" (dragulaModelChange)="setTaggedRooms(tagName, $event)">
            <app-room-tile class="room-tile" *ngFor="let roomId of tags[tagName]" [roomId]="roomId"></app-room-tile>
        </div>
    </div>
    <div class="tag-list-container new">
        <form (ngSubmit)="addTag()">
            <input type="text" id="newTagName" name="newTagName" [(ngModel)]="newTagName" />
            <button type="submit" class="float-right">Add</button>
        </form>
    </div>
</div>
